<!DOCTYPE html>
<html>
    <head>
        <title>Trocc</title>
    </head>

    <body>
        <h1>Register with us</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
         <strong>Register here!</strong><br />

        <form id="form" method="post" action=""
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
        <br>
            <a href="/"> Main Screen </a>
        </br>

    </body>
</html>